@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="jumbotron">
  <h2>Delete Stylist</h2>
</div>
<div class="container">
  <h3>Are you sure you want to delete @Model.Name from your stylists?</h3>
  @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
  <br>@using (Html.BeginForm())
  {
      <input type="submit" value="Delete" class="btn-del"/>
  }
  @Html.ActionLink("Back to Stylists", "Index")
</div>