@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h2>Eau Claire's Salon</h2>
  <h4>Stylist and Client Management</h4>
</div>
<div class="container">
  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
</div>