@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h2 id="salonName">Eau Claire's Salon</h2>
  <h4>Stylist and Client Management</h4>
</div>
<div class="container">
  @Html.ActionLink("See All Stylists", "Index", "Stylists", null, new { @class="htmlButton"})
  @Html.ActionLink("See All Clients", "Index", "Clients", null, new { @class="htmlButton"})
</div>